    <section class="home">
    <div></div>
     <%# <img id="HMT" src="/assets/ciel-escalier2.png" alt=""> %>
    <%# <video src="/assets/bouddha.mp4" controls autoplay loop></video> %>
      <div class=entrer>
        <h1>Entrez dans votre Lumière Intérieure Sacrée</h1>
      </div>
    </section>

    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
        <br>
			<h1 class="myH2">Notre corps nous parle, écoutons-le !</h1>
      <br>
        <p class="myP">
        "Toute maladie porte en elle le germe de sa guérison ", dit <a target="_blank" href="https://souzenelle.eu/">Annick De Souzenelle</a>
        <br> <br>
        "Tout déprimé est un bien portant qui s'ignore"
          affirme le <a target="_blank" href="https://www.livredepoche.com/auteur/pr-michel-lejoyeux">Pr Lejoyeux</a> .
          <br> <br>
          Nous sommes ici dans quelque chose qui dépasse le simple intellect et la logique cartésienne et qui touche du doight l'approche
          thérapeutique des soins énergétiques et de magnétisme. En effet, c'est en lisant l'information contenue dans l'énergie qui créée
          le déséquilibre homéostatique, que la solution s'y trouve. <br> Certains traduisent "maladie" par "le mal à dit", que l'on pourrait comprendre
          comme : <br> si l'on écoute notre douleur, elle nous dira pourquoi elle est là !
          <br>
          La médecine chinoise ne dit-elle pas aussi que le Yin contient le Yang (et vice versa) ?
        </p>
        <br>
				<p class="myP">
          Je suis Christophe, thérapeute magnétieur et énergéticien installé à Marseille. Je vous propose de vous apporter mon expérience et mon aide
          pour avancer dans votre vie.
          Les soins de magnétisme ou d'énergétique, sont des techniques douces, sans manipulation, ni 'craking' et traitent tout
          dysfonctionnement de type :
            <div class="li">
              <ul class="myP">
                <li>mécaniques</li>
                <li>physiologiques</li>
                <li>psychologiques</li>
                <li>énergétiques</li>
              </ul>
            </div>
        </p>

        <p class="myP">
           Le travail peut, selon l'axe du soin, réparer les dérèglements transgénérationnelles ou de vies passées.
           Tout se passe en douceur et dans le respect de la personne, dans sa capacité à recevoir le soin de magnétisme ou énergétique.
           Chaque personne n'a pas la même capacité à recevoie ce soin et à l'intégrer.
           Chaque blocage énergétique à un sens et donne une explication au maux, quand celle-ci apporte un sens.
           Il s'agit donc de relancer les énergies bloquées et de les repositionner à leur place.
           Chaque soin ramène un peu plus l'homéostasie énergétique des corps qui sont en demandes.
			  </p>
    </div>
