<%# <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Christophe magnétiseur</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">Prestations</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Soin</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Kung-fu</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
</nav>
 %>
    <section class="home">
    <div></div>
     <%# <img id="HMT" src="/assets/ciel-escalier2.png" alt=""> %>
    <%# <video src="/assets/bouddha.mp4" controls autoplay loop></video> %>
      <div class=entrer>
        <h1>Entrez dans votre Lumière Intérieure Sacrée</h1>
      </div>
    </section>

    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
			<h1 class="myH2">Bonjour et Bienvenue</h1>

				<p class="myP">
          Je suis thérapeute magnétieur, installé à Marseille. Je vous propose de vous apporter mon expérience et mon aide
          pour avancer dans votre vie.
          Les soins de magnétisme ou énergétique, sont des techniques douces, sans manipulation, ni 'craking' et traitent tout type de dysfonctionnement biologique :
            <div class="li">
              <ul class="myP">
                <li>mécaniques</li>
                <li>physiologiques</li>
                <li>psychologiques</li>
              </ul>
            </div>
        </p>

        <p class="myP">
           Le travail peut, selon l'axe du soin, réparer les dérèglements transgénérationnelles ou de vies passées.
           Tout se passe en douceur et dans le respect de la personne, dans sa capacité à recevoir le soin de magnétisme ou énergétique.
           Chaque personne n'a pas la même capacité à recevoie ce soin et à l'intégrer.
           Chaque blocage énergétique à un sens et donne une explication au maux, quand celle-ci apporte un sens.
           Il s'agit donc de relancer les énergies bloquées et de les repositionner à leur place.
           Chaque soin ramène un peu plus l'homéostasie énergétique des corps qui sont en demandes.
			  </p>
    </div>

<%#     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script> %>

<!-- Fonction utilisée pour réduire la barre de navigation, suppr le padding et ajouter un fond (noir)-->
<%#     <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script> %>
