<section class="cgv"></section>

<div class="-cgv-">
<h1>CONDITIONS GÉNÉRALES DE VENTE</h1>
<h2>Article 1 – Désignation du vendeur</h2>
<p class="myP">
Le Site est édité par JULLIEN Christophe – (ci-après le Vendeur)
EN VALIDANT LES PRÉSENTES, LE CLIENT DEMANDE EXPRESSÉMENT QUE L’EXÉCUTION DU SERVICE COMMENCE AVANT LA FIN DU DÉLAI DE RÉTRACTATION DE 14 JOURS
AFIN DE POUVOIR BÉNÉFICIER DU SERVICE IMMÉDIATEMENT.
LE CLIENT DISPOSERA TOUTEFOIS DE SON DROIT DE RETRACTATION ET D’UNE GARANTIE COMPLEMENTAIRE « SATISFAIT OU REMBOURSÉ* »
*Sont exclus de cette garantie les soins en cabinet ainsi que les soins à distance.
</p>

<h2>Article 2 – Champ d’application</h2>
<p class="myP">
Les présentes conditions générales de vente (ci-après les CGV) s’appliquent, sans restriction ni réserve à l’ensemble des ventes conclues
par le Vendeur auprès de clients professionnels ou particuliers (Ci-après le Client) désirant avoir accès aux soins, formations, coachings,
documents, produits annexes, vendus via le Site et les domaines et sous domaines associés (ci-après le Service).
Ces CGV sont accessibles sur le Site et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
La validation de la commande par le Client qui reconnaît, en cochant la case prévue à cet effet, en avoir eu connaissance et les avoir acceptées
avant de passer commande, vaut acceptation sans réserve des présentes CGV. Le Client reconnaît également que, préalablement à toute commande,
 il a bénéficié des informations et conseils suffisants de la part du Site et du Vendeur, lui permettant de s’assurer de l’adéquation de
 l’offre de Service à ses besoins propres.
Le Client déclare être capable de contracter en vertu de la loi française et déclare, le cas échéant, valablement représenter la personne pour
laquelle il s’engage. Le Client professionnel se porte fort du respect des présentes CGV pour l’ensemble de ses salariés, préposés et agents.
Sauf preuve contraire, les données enregistrées par le Site constituent la preuve de l’ensemble des faits, acceptation et transactions.
</p>

<h2>Article 3 – Caractéristiques du Service</h2>
<p class="myP">
La commande précise les Services fournis dans le cadre de la vente. Sauf vente exceptionnelle, ces derniers peuvent être retrouvés sur le
Site ou dans le mail récapitulatif adressé au Client postérieurement à la vente.
Les contenus des Services sont généralement composés de :
  <ul class="ul">
      <p>Soins à distance</p>
      <p>Soins en cabinet</p>
      <p>Webinaires</p>
      <p>Formations en ligne</p>
      <p>Documents téléchargeables</p>
      <p>Audio téléchargeables</p>
      <p>Accompagnement personnalisé, coaching</p>
      <p>Vente et envoi de produits physique</p>
  </ul>
</p>
<p class="myP">
Le Client est informé que les services peuvent nécessiter l’accès à d’autres sites ou plateformes (partenaires ou autres),
conçus et gérés sous la responsabilité de tiers. Aucun contrôle sur les contenus desdits sites n’est exercé de la part du Vendeur qui
décline toute responsabilité s’agissant de leur contenu et de l’utilisation faite par tout tiers des informations y figurant.
En cas de problème ou de dysfonctionnement sur une plateforme tierce nécessaire au Service, le Vendeur s’efforcera de fournir le Service
vendu sur une plateforme présentant des fonctionnalités similaires.
Les produits et services sont offerts et livrés dans la limite des quantités disponibles, étant entendu que le Vendeur peut volontairement
limiter le nombre de bénéficiaires du Services.
En cas d’indisponibilité du Service commandé, le vendeur en informe immédiatement l’acheteur et peut lui proposer un Service d’une qualité
et d’un prix équivalents ou, à défaut, procède au remboursement des sommes versées dans un délai de 7 jours. En dehors du remboursement du
prix du produit indisponible, le vendeur n’est tenu à aucune indemnité d’annulation.
Les photographies et illustration présentant le Service ne constituent pas un document contractuel.
</p>

<h2>Article 4 – Accès aux Services</h2>
<p class="myP">
Les Services ne sont accessibles qu’aux seules personnes physiques autorisées par le Vendeur ayant souscrit au Service, étant précisé que le
 Client ne peut autoriser des personnes autres que ses utilisateurs internes.
Tout usage de l’accès du Client aux Services par une personne non autorisée engage la responsabilité du Client.
L’accès du client aux Services se fait, pour tout Utilisateur, selon les modalités techniques et le calendrier prévu par le Vendeur.
Le ou les code(s) d’identification est/sont attribué(s) par le Vendeur à la souscription du Service.
Chaque code d’identification est personnel, individuel, confidentiel et intransmissible.
Le Client répondra de toute utilisation frauduleuse ou abusive de ses codes d’accès. Le Client informera sans délai la Société de la perte
ou du vol des clés d’accès. En cas de violation des clés d’accès, le Vendeur se réserve le droit de suspendre le Service, sans indemnité,
préavis ni information préalable.
Les droits d’accès au Service sont concédées pour une durée variable stipulée dans la commande en fonction du package choisi- se reporter
aux fiches descriptives de la commande – à compter de l’ouverture des clés d’accès au Service.
</p>

<h2>Article 5 – Garanties</h2>

<h3>5.1 Garantie générale</h3>
<p class="myP">
Le Vendeur s’engage à tout mettre en œuvre pour fournir le Service pendant la période convenue dans la commande, sauf panne éventuelle
ou contraintes techniques liées aux spécificités du réseau Internet ou des solutions tierces utilisées.

Le Client pourra bénéficier du Service dans la limite d’une utilisation raisonnable. Le Client s’engage à informer la Société dans un délai
de 24 heures à compter de la découverte d’un dysfonctionnement technique. Dans l’hypothèse d’une interruption de service par le Vendeur liée à une intervention de maintenance corrective, le Vendeur mettra tout en œuvre pour remédier au dysfonctionnement dans un délai raisonnable. La sécurité et l’intégrité des communications sur Internet ne peut être garanties. Le Vendeur décline toute responsabilité concernant les conséquences liées aux défaillances techniques du site ou en relation avec le site, notamment en ce qui concerne toute difficulté d’accès.
Le service vendu sur le site Internet est conforme à la réglementation en vigueur en France. La responsabilité du Vendeur ne saurait être
engagée en cas de non-respect de la législation du pays dans lequel les produits sont disponibles, qu’il appartient au Client de vérifier.
</p>

<h3>5.2 Garantie satisfait ou remboursé</h3>
<p class="myP">
Le Vendeur peut proposer une garantie « satisfait ou remboursé » d’une durée de 15 jours à compter de la commande. Pour être valable, la
garantie devra être spécifiée au moment de la commande. Ainsi, le Client dispose de 15 jours à compter du jour de sa commande pour demander
le remboursement s’il n’est pas parfaitement satisfait du Service.
Sont exclus de cette garantie les soins en cabinet ainsi que les soins à distance.
</p>

<h2>Article 6 – Conditions tarifaires</h2>
<h3>6.1 Prix</h3>
<p class="myP">
Les services sont fournis aux tarifs en vigueur figurant sur le Site, lors de l’enregistrement de la commande par le Client. Les prix sont
exprimés en euros, hors taxes et majorés de la TVA au taux en vigueur.
Ces tarifs sont fermes et non révisables pendant leur période de validité, tels qu’indiqués au jour de la commande. Les tarifs pourront être
révisés lors d’offres promotionnelles ou d’opérations ponctuelles.
</p>

<h3>6.2 Commandes – Factures</h3>
<p class="myP">
Il appartient au Client de sélectionner sur le Site le ou les Services qu’il désire commander.
La vente ne sera considérée comme définitive qu’après l’envoi au Client de la confirmation de l’acceptation de la commande par le Vendeur par
l’envoi d’un mail et après encaissement, soit de l’intégralité du prix, soit d’un paiement partiel en cas d’offre spéciale.
Une facture est établie par le Vendeur dans un délai raisonnable après la commande. Elle est adressée au Client ou à défaut, accessible sur
demande.
</p>

<h3>6.3 Règlement</h3>
<p class="myP">
Sauf offre spéciale et à l’issue de toute éventuelle période d’essai, le prix total d’acquisition du service commandé sera exigé.
Les paiements par carte bancaire et par Paypal sont débités au moment de la commande ou à l’issue de la période d’essai.
En cas de paiement par chèque bancaire, celui-ci est remis à l’encaissement dès sa réception.

Les paiements effectués par le Client ne seront considérés comme définitifs qu’après encaissement effectif des sommes dues par le Client.
Les éventuels accès seront alors délivrés après encaissement du paiement et envoyés au Client par courrier électronique.
En cas d’absence de règlement ou de retard de règlement du Client, le Vendeur ne sera pas tenue de délivrer les accès et la Société se réserve
le droit de suspendre l’accès au service.
Dans le cas d’une offre spéciale, en cas de problème sur un paiement échelonné, le Client n’aura accès au service qu’une fois l’échéance réglée
dans un délai raisonnable. Le paiement de l’intégralité du parcours de formation devant être acquitté pour un accès intégral. En outre,
le Vendeur se réserve le droit, en cas de non-respect des conditions de paiement figurant ci-dessus, de suspendre ou d’annuler les accès du
Client.
</p>

<h3>6.4 Rétractation</h3>
<p class="myP">
Vous avez le droit de vous rétracter des présentes CGV sans donner de motif dans un délai de quatorze jours. Le délai de rétractation expire
quatorze jours après le jour de la conclusion du contrat.
Pour exercer le droit de rétractation, vous devez nous notifier à contact@julien-urnel.com votre décision de rétractation du présent contrat
au moyen d’une déclaration dénuée d’ambiguïté (par exemple, lettre envoyée par la poste ou courrier électronique).
Pour que le délai de rétractation soit respecté, il suffit que vous transmettiez votre communication relative à l’exercice du droit de
rétractation avant l’expiration du délai de rétractation.
En cas de rétractation de votre part du présent contrat, nous vous rembourserons tous les paiements reçus de vous, y compris les frais de
livraison sans retard excessif et, en tout état de cause, au plus tard trente jours à compter du jour où nous sommes informés de votre décision
de rétractation du présent contrat. Nous procéderons au remboursement en utilisant le même moyen de paiement que celui que vous aurez utilisé
pour la transaction initiale, sauf si vous convenez expressément d’un moyen différent ; en tout état de cause, ce remboursement n’occasionnera
pas de frais pour vous.
</p>

<h2>Article 7 – Limitation de responsabilité</h2>
<p class="myP">
La responsabilité du Vendeur ne peut en aucun cas être engagée pour toute défaillance technique ou logicielle ou toute cause qui lui est
étrangère. Quel que soit le type de Service, la responsabilité du Vendeur est expressément limitée à l’indemnisation des dommages directs
prouvés par le Client. Vis-à-vis des Clients professionnels, la responsabilité de la Société est plafonnée au montant du prix payé par le
Client au titre du Service commandé.
En aucun cas, la responsabilité du Vendeur ne saurait être engagée au titre des dommages indirects tels que perte de données, de fichier(s),
perte d’exploitation, préjudice commercial, manque à gagner, atteinte à l’image et à la réputation. Le Vendeur ne saurait être tenue responsable
au titre des litiges intervenant entre le Client et ses propres clients.
L’utilisation et l’exploitation des informations fournies au titre du Service se font sous votre seule responsabilité et à vos risques et
périls. Le client est seul responsable des interprétations qu’il fait des informations fournis au titre des Services et des données des
conseils qu’il en déduit et des adaptations réalisées pour son activité commerciale propre.
</p>

<h2>Article 8 –Force majeure et incapacité de rendre le Service</h2>
<p class="myP">
Le Vendeur ne pourra être tenue responsable à l’égard du Client en cas d’inexécution de ses obligations résultant d’un évènement de force
majeure. Sont considérés comme cas de force majeure ou cas fortuit, outre ceux habituellement reconnus par la jurisprudence des Cours et
Tribunaux français et sans que cette liste soit restrictive : les grèves ou conflits sociaux internes ou externes à la Société, les désastres
naturels, les incendies, l’interruption des télécommunications, l’interruption de l’approvisionnement en énergie, interruption des
communications ou des transports de tout type, ou toute autre circonstance échappant au contrôle raisonnable du Vendeur.
En cas d’incapacité de travail de l’expert en charge du Service au sein de la Société, par suite de maladie ou d’accident, le Vendeur se
réserve le droit de modifier le planning prévu sans qu’il ne puisse être exigé par le Client le versement d’indemnités. Le Vendeur avertira
le Client dans un délai raisonnable de son incapacité et dans la mesure du possible de la durée de celle-ci afin que le Client puisse décider
du maintien ou non de la réalisation du Service. En cas de non maintien, les services fournis seront dus dès lors qu’ils ont été rendus.
Pour les Services non rendus du fait de l’incapacité, le Vendeur s’engage à procéder au remboursement partiel à première demande dans une
part proportionnelle à leur valeur du Service au moment de la commande.
</p>

<h2>Article 9 – Résiliation</h2>
<h3>9.1 Résiliation par le Client</h3>
<p class="myP">
Le Client peut résilier à tout moment le Service par mail à l’adresse contact@quantique-sante.fr. Le Client demeure redevable du Service
souscrit lors de la commande.
</p>

<h3>9.2 Résiliation par le Vendeur</h3>
<p class="myP">
La Société se réserve le droit de mettre un terme immédiat au Service en cas de non-paiement par ce dernier d’une ou plusieurs échéances.
Toute somme non payée dans les trente jours sera augmentée d’un taux égal à trois fois le taux de l’intérêt légal en vigueur majoré de dix points
 de pourcentage ainsi qu’une indemnité forfaitaire pour frais de recouvrement de 40 euros conformément à la législation en vigueur
 (Article L441-6 du Code de commerce). Pour les Clients professionnels, les pénalités de retard sont exigibles sans titre exécutoire.
Le Vendeur se réserve par ailleurs le droit mettre un terme immédiat au Service du Client en cas de violation par ce dernier des droits de
propriété intellectuelle du Vendeur et de toute atteinte au Service.
La résiliation du Service entraîne de plein droit la suspension et l’arrêt des Services souscrits par le Client auprès du Vendeur ainsi que
l’exigibilité immédiate de toutes les sommes dues au titre, en principal, frais et accessoires (intérêts de retard, frais bancaires éventuels).
</p>

<h3>9.3 Résiliation liée à des modifications des CGV</h3>
<p class="myP">
Le vendeur professionnel se réserve la faculté de modifier ses CGV à tout moment. En cas de modification des CGV, les CGV applicables sont
celles en vigueur à la date de la commande dont une copie datée à ce jour peut être remise à sa demande au Client.

Le Vendeur se réserve la faculté de modifier ses offres à tout moment. Sauf conditions exceptionnelles le Vendeur n’impactera pas les
modifications tarifaires à la hausse ou à la baisse sur les Services déjà souscrits.
Les modifications des CGV sont opposables aux utilisateurs du Site et aux Clients qui les ont acceptés à compter de leur mise en ligne.
En cas de refus des nouvelles CGV, le Vendeur est libre de mettre un terme au présent engagement.
</p>

<h2>Article 10 – Informatiques et Libertés</h2>
<p class="myP">
Conformément à l’article 32 de la loi nº 78-17 du 6 janvier 1978 modifiée en 2004 (dite « loi Informatique et Libertés ») et à la réglementation
 applicable en la matière, les Clients sont informés que des données à caractère personnel les concernant font l’objet d’un traitement
 automatisé aux fins de prospection commerciales et de gestion du Service. Les Clients sont informés que ces données pourront faire l’objet
 d’analyses statistiques de la part de la Société et pourront être cédées à des tiers et partenaires si le Client y a expressément consenti.
Les informations demandées dans le cadre des formulaires disponibles sur le Site marquées d’un astérisque sont obligatoires et nécessaires à
la gestion des demandes des Clients Le défaut de réponse dans un champ obligatoire entraînera l’impossibilité pour la Société de traiter les
demandes des Clients.
Les Clients disposent d’un droit d’accès, de rectification et de suppression des données les concernant et peuvent s’opposer au traitement
pour des motifs légitimes. Pour exercer ces droits, il convient de s’adresser à : contact@quantique-sante.fr.
Les données traitées sont conservées conformément à la réglementation (Norme simplifiée 48 de la CNIL).
Le site n’est pas déclaré à la CNIL car il n’exploite pas les données personnelles comme indiqué sur cette page.
Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative
à la protection juridique des bases de données.
</p>

<h2>Article 11 – Propriété intellectuelle</h2>
<p class="myP">
Le contenu du Site est la propriété exclusive de JULLIEN Christophe et de ses partenaires et est protégé par les lois françaises et internationales
relatives à la propriété intellectuelle. Toute reproduction totale ou partielle est formellement interdite sous peine de poursuites.
Le Vendeur est seule titulaire des droits de propriété intellectuelle de l’ensemble des Services qu’elle propose à ses Clients. À cet effet,
l’ensemble des contenus et supports pédagogiques quelle qu’en soit la forme (papier, électronique, numérique, orale, vidéo,…) utilisés par le
Vendeur pour assurer les Services, formations et services accessoires demeurent la propriété exclusive du Vendeur. A ce titre, ils ne peuvent
faire l’objet d’aucune utilisation, transformation, reproduction, exploitation non expressément autorisée par le Vendeur.
En particulier, le Client s’interdit d’utiliser et d’exploiter le contenu des formations et des Services pour former d’autres personnes que
son propre personnel. Il engage sa responsabilité sur le fondement des articles L.122-4 et L.335-2 et suivants du code de la propriété
intellectuelle en cas de cession ou de communication des contenus non autorisée.

En contrepartie du paiement du prix du Service, les contenus et informations transmises font l’objet d’un droit d’utilisation personnel, non
cessible et non exclusif pour une durée limitée, durée variable en fonction du Service ou package choisi, se reporter aux fiches descriptives
de chacun des Services prévu dans la commande.
Hors utilisation personnelle ou commerciale autorisées des informations dans le cadre de l’activité du Client, toute exploitation, reproduction,
représentation, modification, publication, transmission, dénaturation, totale ou partielle des contenus des Services et formations, ainsi que
les bases de données figurant le cas échéant sur le Site sont strictement interdites, et ce quels que soient le procédé et le support utilisé.
En tout état de cause, le Vendeur demeure propriétaire de ses outils, méthodes et savoir-faire développés antérieurement ou à l’occasion du
Service fourni au Client.
</p>

<h2>Article 12 – Communication et références Client</h2>
<p class="myP">
Le Client accepte d’être cité par le Vendeur comme Client de ses Services. Le Vendeur est ainsi autorisée à mentionner le nom du Client ainsi
qu’une description objective de la nature des Services fournis, objet du contrat, dans ses listes de références et propositions à l’attention
de ses prospects et de sa Clientèle notamment sur le Site, entretiens avec des tiers, communications à son personnel, documents internes de
gestion prévisionnelle, rapport annuel aux actionnaires, ainsi qu’en cas de dispositions légales, réglementaires ou comptables l’exigeant.
</p>

<h2>Article 13 – Droit applicable – Langue</h2>
<p class="myP">
Les présentes conditions générales de vente sont régies par le droit français. Elles sont rédigées en langue française. Dans le cas où elles
seraient traduites en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.
La nullité d’une clause contractuelle n’entraîne pas la nullité des CGV. L’inapplication temporaire ou permanente d’une ou plusieurs clauses
des CGV par la Société ne saurait valoir renonciation de sa part aux autres clauses des CGV qui continuent à produire leurs effets.
</p>

<h2>ARTICLE 12 – LITIGES</h2>
<p class="myP">
POUR LES CLIENTS CONSOMMATEURS, TOUS LES LITIGES AUXQUELS LE PRESENT CONTRAT POURRAIT DONNER LIEU, CONCERNANT TANT SA VALIDITE,
SON INTERPRETATION, SON EXECUTION, SA RESILIATION, LEURS CONSEQUENCES ET LEURS SUITES SERONT SOUMIS AUX TRIBUNAUX COMPETENTS DANS LES
CONDITIONS DU DROIT DE LA CONSOMMATION. EN CAS DE LITIGE SURVENANT ENTRE UN CLIENT PROFESSIONNEL ET LE VENDEUR, LE TRIBUNAL DE COMMERCE
DE PARIS SERA EXCLUSIVEMENT COMPETENT.
</p>
</div>
