<section class="cookies"></section>

<div class="lescookies">
  <h1>Politiques sur les cookies</h1>

 <p> En visitant notre site <%= link_to 'www.soins-magnetiseur-marseille.fr', root_path %>, et en utilisant nos services,
 vous comprenez et acceptez la façon dont nous traitons les données personnelles conformément à notre politique de confidentialité.
 Nous respectons votre vie privée et le droit de contrôler vos données personnelles. Nos principes directeurs sont simples.
 Nous allons être transparents sur quelles données nous collectons et pourquoi. Veuillez prendre un moment pour les lire. C’est important !</p>

<h2>Qu’est-ce qu’un cookie ?</h2>

<p>Les cookies sont des petits fichiers informations stockées au sein même du navigateur de votre ordinateur. Les cookies sont accessibles
et enregistrés par les sites internet que vous consultez, et par les sociétés qui affichent leurs annonces publicitaires sur des sites
internet, pour qu’ils puissent reconnaître le navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés
sur votre ordinateur.

En utilisant le Site Internet <%= link_to 'www.soins-magnetiseur-marseille.fr', root_path %>, vous consentez à l’utilisation des cookies déposés par notre Site.

<p>Le site Internet utilisent des cookies aux fins suivantes :</p>

<p>Usage du site : pour nous aider à reconnaître votre navigateur comme celui d’un visiteur précédent et pour enregistrer les préférences
que vous avez déterminées lors de votre précédente visite sur le Site. Par exemple, nous pouvons enregistrer vos informations de connexion
de sorte que vous n’ayez pas à vous connecter à chaque fois que vous visitez le Site ;</p>

<p>Ciblage : pour nous permettre de cibler (emailing, enrichissement de base) à posteriori ou en temps réel l’internaute qui navigue sur notre Site ;</p>

<p>Mesure d’audience :pour suivre les données statistiques de fréquentation du Site (soit l’utilisation faite du Site par les utilisateurs et
pour améliorer les services du Site) et pour nous aider à mesurer et étudier l’efficacité de notre contenu interactif en ligne, de ses
caractéristiques, publicités et autres communications.</p>

<h2>Vos choix concernant les Cookies et Balises Web</h2>

<p>Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie
est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos
cookies périodiquement.
Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies,
votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives
aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site
suivant : <a target="_blank" href="https://www.cnil.fr/fr/cnil-direct/question/un-cookie-quest-ce-que-cest">CNIL</a>
ou ici <a target="_blank" href="https://allaboutcookies.org/fr-cookies" >allaboutcookies</a>
</p>


<h2>Comment accéder à votre navigateur pour le configurer:</h2>

<p>Firefox :
<ul>
<ol> Ouvrez Firefox</ol>
<ol> Appuyez sur la touche « Alt »</ol>
<ol> Dans le menu en haut de la page cliquez sur « Édition » puis « paramètres »</ol>
<ol> Sélectionnez l’onglet « Vie privée et sécurité»</ol>
<ol> =>C’est dans cette page que vous ferez vos réglages</ol>
</ul>
</p>



<p>Internet Explorer :
<ul>
<ol> Ouvrez Internet Explorer</ol>
 <ol> Dans le menu « Outils », sélectionnez « Options Internet »</ol>
 <ol> Cliquez sur l’onglet « Confidentialité »</ol>
 <ol> Cliquez sur « Avancé »</ol>
<ol> =>C’est dans cette page que vous ferez vos réglages</ol>
</ul></p>

<p>Google Chrome :
<ul>
 <ol> Ouvrez Google Chrome</ol>
 <ol> Cliquez sur l’icône en haut à droite « Personnaliser et contrôler google chrome »</ol>
 <ol> Sélectionnez « Paramètres»</ol>
 <ol> Cliquez sur l’onglet « Confidentialité et sécurité » puis choisissez l’onglet « Cookies et autres données des sites »</ol>
 <ol> =>C’est dans cette page que vous ferez vos réglages</ol>
 </ul></p>

<p>Safari :
<ul>
 <ol> Ouvrez Safari</ol>
 <ol> Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</ol>
 <ol> Sélectionnez l’icône « Sécurité »</ol>
<ol> =>C’est dans cette page que vous ferez vos réglages</ol>
</ul></p>

<p>
Si vous avez des questions concernant cette politique de cookies ou le traitement de vos données, veuillez consulter notre politique de
confidentialité ou la <a target="_blank" href="https://www.cnil.fr/">CNIL</a>.</p>
</div>
