<div>
  <h1>Politiques sur les cookies</h1>
  En visitant notre site www.soins-magnetiseur-marseille.fr, et en utilisant nos services, vous comprenez et acceptez la façon dont nous traitons les données personnelles conformément à notre politique de confidentialité. Nous respectons votre vie privée et le droit de contrôler vos données personnelles. Nos principes directeurs sont simples. Nous allons être transparents sur quelles données nous collectons et pourquoi. Veuillez prendre un moment pour les lire. C’est important !

<h2>Qu’est-ce qu’un cookie ?</h2>
Les cookies sont des petits fichiers informations stockées au sein même du navigateur de votre ordinateur. Les cookies sont accessibles et enregistrés par les sites internet que vous consultez, et par les sociétés qui affichent leurs annonces publicitaires sur des sites internet, pour qu’ils puissent reconnaître le navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés sur votre ordinateur.

En utilisant le Site Internet www.soins-magnetiseur-marseille.fr, vous consentez à l’utilisation des cookies déposés par notre Site.

Le site Internet utilisent des cookies aux fins suivantes :

Usage du site : pour nous aider à reconnaître votre navigateur comme celui d’un visiteur précédent et pour enregistrer les préférences que vous avez déterminées lors de votre précédente visite sur le Site. Par exemple, nous pouvons enregistrer vos informations de connexion de sorte que vous n’ayez pas à vous connecter à chaque fois que vous visitez le Site ;

Ciblage : pour nous permettre de cibler (emailing, enrichissement de base) à posteriori ou en temps réel l’internaute qui navigue sur notre Site ;

Mesure d’audience :pour suivre les données statistiques de fréquentation du Site (soit l’utilisation faite du Site par les utilisateurs et pour améliorer les services du Site) et pour nous aider à mesurer et étudier l’efficacité de notre contenu interactif en ligne, de ses caractéristiques, publicités et autres communications.

<h2>Vos choix concernant les Cookies et Balises Web</h2>
Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos cookies périodiquement.
Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site suivant : https://www.cnil.fr/fr/cnil-direct/question/un-cookie-quest-ce-que-cest
ou ici
https://allaboutcookies.org/fr-cookies

<h2>Comment accéder à votre navigateur pour le configurer:</h2>

Firefox :
Ouvrez Firefox
Appuyez sur la touche « Alt »
Dans le menu en haut de la page cliquez sur « Édition » puis « paramètres »
Sélectionnez l’onglet « Vie privée et sécurité»
=>C’est dans cette page que vous ferez vos réglages



Internet Explorer :
 Ouvrez Internet Explorer
 Dans le menu « Outils », sélectionnez « Options Internet »
 Cliquez sur l’onglet « Confidentialité »
 Cliquez sur « Avancé »
=>C’est dans cette page que vous ferez vos réglages

Google Chrome :
 Ouvrez Google Chrome
 Cliquez sur l’icône en haut à droite « Personnaliser et contrôler google chrome »
 Sélectionnez « Paramètres»
 Cliquez sur l’onglet « Confidentialité et sécurité » puis choisissez l’onglet « Cookies et autres données des sites »
 =>C’est dans cette page que vous ferez vos réglages

Safari :
 Ouvrez Safari
 Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »
 Sélectionnez l’icône « Sécurité »
=>C’est dans cette page que vous ferez vos réglages

Contact
Si vous avez des questions concernant cette politique de cookies ou le traitement de vos données, veuillez consulter notre politique de confidentialité ou la cnil.
</div>
