<section class="deontologie"></section>

<div class="deon">
<h1>Déontologie</h1>
<p class="myP">
Une grande importance à la rigueur éthique et morale ainsi qu’au respect d’une déontologie est posée en conscience et sens dans
mon activité professionnelle de magnétiseur, par respect pour les patients qui me font confiance et aussi pour faire connaître et respecter,
 à mon niveau, cette profession mal connue et encore victime de préjugés.
<br><br>
C’est en posant une éthique franche et sincère, que le praticien éloigne de lui toute forme de flatterie qui nourrit son ego : ce n’est pas
 le magnétiseur qui guéri mais bien le consultant lui-même par l’activation de ses propres capacités vitales.
Je suis un thérapeute magnétiseur-énergéticien et je ne suis donc pas un médecin ni un professionnel de santé.
Je ne formule aucun diagnostic et je ne donne aucun conseil, ni avis, sur les traitements médicaux en cours ou à venir.
Cependant, les actions du magnétiseur interviennent en complément de la médecine conventionnelle et participent au mieux-être en renforçant
 le terrain énergétique du consultant.
</p>

<h2>Traitements conventionnels</h2>
<p class="myP">
Je ne suis pas médecin et je ne formule pas de diagnostic. Mes soins ne vous dispensent pas de faire les examens d’investigations nécessaires
 et de suivre le traitement médical qui vous a été prescrit par votre médecin traitant. Votre suivi médical ne peut être intérompu que par
 votre médecin traitant.
</p>

<h2>Engagements</h2>
<p class="myP">
Je m’engage, dans la limite de mes capacités, à vous accompagner dans la libération de vos difficultés et dysfonctionnements énergétiques.
Je peux être amené à refuser d’intervenir si j’estime que cela ne relève pas de mes compétences ou que cela pourrait nuire à votre intégrité.
</p>

<h2>Consentement</h2>
<p class="myP">
J’interviens uniquement sur les personnes qui en ont fait expressément la demande.
<br>
Pour les personnes mineures, j’interviens à la demande des parents ou du responsable légal, et uniquement en leur présence.
</p>

<h2>Respect du secret</h2>
<p class="myP">
J'applique le secret professionnel et vous garantis une discretion assurée lors de nos échanges.
</p>

<h2>Cadre professionnel</h2>
<p class="myP">
Je pratique à distance ou je m’engage à vous accueillir dans un cabinet de soins énergétiquement sain.
Je ne pratique pas de manipulation physique comme pourrait le faire un ostéopathe. Les séances se pratiquent totalement habillées (sans chaussures).
</p>

<h2>Autonomie</h2>
<p class="myP">
Le travail sur les champs énergétiques doit vous amener à devenir plus conscient, plus éclairé dans vos choix de vie et à vous rapprocher
de votre unification intérieure. Je vous propose un accompagnement sur le chemin qui vous conduit à devenir votre propre source de guérison
et attire votre attention sur votre responsabilité et vos efforts à poser .
</p>
</div>
