<section class="lecabinet"></section>
<br>
<br>
<div class="coordocab">
  <div class="myP" id="cartecabinet">
    <img  src="/assets/mapCabot.png" alt="">

    <div>
      <a target="_blank" href="https://www.google.com/maps/dir//38+Bd+du+Redon,+13009+Marseille/@43.2552889,5.4192898,330m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x12c9b8ebe3779559:0xc7b2f3acdb150881!2m2!1d5.4198718!2d43.2551424">Votre itinéraire ici</a>
    </div>
  </div>

    <div id="coordocabinet">
      <img src="/assets/Coordonnées-cabinet.png" alt="">
    </div>
</div>
