<section class="soins"></section>

<div class="soinpresta">
<h1>Les soins</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imgcab"></div> %>

    <img id="imgcab" src="/assets/encabinet2.png" alt="">

    <div id="txtcab" class="imgtxt">
      <h2>En Cabinet</h2>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </div>
  </div>

  <div class="soincard">
    <%# <div class="imgtxt" id="imgdist"></div> %>
    <img id="imgdist" src="/assets/soin distance.png" alt="">

    <dir id="txtdist" class="imgtxt">
      <h2>À distance</h2>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </dir>
  </div>

  <div class="soincard">
    <%# <div class="imgtxt" id="imglieu"></div> %>
    <img id="imglieu" src="/assets/encabinet6.png" alt="">

    <div id="txtlieu" class="imgtxt">
      <h2>Nettoyage des lieux</h2>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </div>
  </div>
<h1>Guidance Spirituelle</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imggs"></div> %>
    <img id="imggs" src="/assets/meditation.gif" alt="">

    <dir id="txtgs" class="imgtxt">
      <h2>Guidance Spirituelle</h2>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </dir>
  </div>

</div>
