<section class="soins"></section>

<div class="soinpresta">
<h1>Les soins</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imgcab"></div> %>

    <img id="imgcab" src="/assets/encabinet2.png" alt="">

    <div id="txtcab" class="imgtxt">
      <h2>En Cabinet</h2>
      <p>
        Je vous recevrez dans mon cabinet, un lieu sain tant énergétiquement que propre.
        Vous n'avez pas besoin de vous dévétir, puiqu'il n'y a pas de manipultion ou de palpation.
        Seules les chaussures seront à enlever, d'une part pour faire le travail énergétique et d'autre part pour votre confort.
        <p>Les bracelets et colliers seront aussi à retirer, ils coupent la circulation énergétique.</p>
      </p>
      <br>
      <p>Informations importantes :</p>
      <p>
        Je ne suis pas médecin et ne formule aucun diagnostic.Les soins énergétiques sont complémentaires de la médecine
        conventionnelle et ne doivent pas s’y substituer. En aucun cas vous ne devez interrompre un traitement médical sans
        en avoir eu l’accord de votre médecin.Les soins sont confidentiels et l’anonymat du consultant est garanti.
        Je vous recommande de bien lire ma page déontologie et éthique avant de prendre rendez-vous.
      </p>
    </div>
  </div>

  <div class="soincard">
    <%# <div class="imgtxt" id="imgdist"></div> %>
    <img id="imgdist" src="/assets/soin distance.png" alt="">

    <dir id="txtdist" class="imgtxt">
      <h2>À distance</h2>
      <p>
        Le soin se passe comme en cabinet, à la différence que vous êtes chez vous.
        Je vous invite toutefois à vous mettre en tenue confortable et de vous installer
        dans une pièce isolée de tout dérangement.Les chaussures seront à enlever, d'une part pour faire
        le travail énergétique et d'autre part pour votre confort.
      <p>Les bracelets et colliers seront aussi à retirer, ils coupent la circulation énergétique.</p>

      <br>
      <p>Informations importantes :</p>
      <p>
        Je ne suis pas médecin et ne formule aucun diagnostic.Les soins énergétiques sont complémentaires de la médecine
        conventionnelle et ne doivent pas s’y substituer. En aucun cas vous ne devez interrompre un traitement médical sans
        en avoir eu l’accord de votre médecin.Les soins sont confidentiels et l’anonymat du consultant est garanti.
        Je vous recommande de bien lire ma page déontologie et éthique avant de prendre rendez-vous.
      </p>
    </dir>
  </div>
  <div class="soincard">
    <%# <div class="imgtxt" id="imglieu"></div> %>
    <img id="imglieu" src="/assets/encabinet6.png" alt="">

    <div id="txtlieu" class="imgtxt">
      <h2>Massage bien-être</h2>
      <p>
        Il s'agit d'un massage de bien-être et de confort, afin de relancer les énergies et de dénouer les noeux énergétiques.
        Il se pratique avec une huile de noyaux d'abricot de qualité. Aucune huile essentielle n'y est ajoutée.
      </p>

      <br>
      <p>Informations importantes :</p>
      <p>Vérifiez votre allergie à l'huile de noyaux d'abricots avant de choisir ce type de soin !</p>
      <p>
        Je ne suis pas médecin et ne formule aucun diagnostic.Les massages de bien-être et de confort sont complémentaires
        de la médecine conventionnelle et ne doivent pas s’y substituer. En aucun cas il s'agit d'un acte médical, comme pourrait le faire
        un kinésithérapeute et vous ne devez pas interrompre un traitement médical sans en avoir eu l’accord de votre médecin.
        Les massages de bien-être et de confort sont confidentiels et l’anonymat du consultant est garanti.
        Je vous recommande de bien lire ma page déontologie et éthique avant de prendre rendez-vous.
      </p>
    </div>
  </div>
  <div class="soincard">
    <%# <div class="imgtxt" id="imglieu"></div> %>
    <img id="imglieu" src="/assets/encabinet6.png" alt="">

    <div id="txtlieu" class="imgtxt">
      <h2>Nettoyage des lieux</h2>
      <p>
        Tout comme les soins de magnétisme ou d'énergétique, le nettoyage des lieux est aussi un soin de votre environnement.
        En effet, durant la nuit, d'une part, on libère des émotions et certaines énergies mortes pendant le sommeil.
        D'autre part, on libère aussi des émotions en journée, quand on est présent. Le lieu se charge est devient désagréable à vivre,
        au fil du temps.
      </p>
      <br>
      <p>Mise en garde :</p>
      <p>
        Le nettoyage des lieux ne remplace pas une étude Feng Shui ou de géobiologie, qui corrige sur le long terme les dysfonctionnements
        énergétiques. Toutefois, ce type de soin des lieux reste très efficace ponctuellement.
     </p>

    </div>
  </div>
<h1>Guidance Spirituelle</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imggs"></div> %>
    <img id="imggs" src="/assets/meditation.gif" alt="">

    <dir id="txtgs" class="imgtxt">
      <h2>Guidance Spirituelle</h2>
      <p>
        La Guidance Spirituelle est là pour vous aidez à trouver des réponses là où vous n'avez pas réussi à en trouver.
        Elle peut se faire seule ou en couple.
        Grâce à mes ressentis, je vous apporterai un axe de réflexion pour que vous trouviez votre solution
        à la difficulté que vous traversez.
        C'est donc un accompagnement vers vous-même qui vous est proposé.
      </p>
      <br>
      <p>Informations importantes :</p>
      <p>Il ne s'agit pas de séance de psychothérapies ! Seul le psychiatre ou le psychologue peuvent le faire !</p>
    </dir>
  </div>

</div>
