<section class="soins"></section>

<div class="soinpresta">
<h1>Les soins énergétiques</h1>
<div class="bienfaits">
<h2>Ses bienfaits</h2>
  <p>Voici les différents systèmes du corps Humain avec leurs troubles correspondants. <br> Le travail énergétique permet d'agir sur ces
  différents systèmes en leur apportant plusieurs corrections énergétiques et dynamismes, sur plusieurs plans. <br> Cette liste met en lumière les champs
  d'actions de l'osthéofluidique</p>
              <div class="li">
              <ul class="myP">
                <li>Système orthopédique et locomoteur : entorses, tendinites, lombalgies, dorsalgies, cervicalgies, douleurs articulaires,
                scoliose, pubalgies, douleurs maxillaires</li>
                <li>Système ORL et pulmonaire : rhinites, sinusites, vertiges, bourdonnements, céphalées, migraines, bronchites, asthme</li>
                <li>Système digestif : Ballonnements, hernie hiatale, troubles hépato-biliaires, colites, constipation, gastrites,
                reflux gastro-oesophagiens </li>
                <li>Système neuro-végétatif : Etat dépressif, hypernervosité, anxiété, stress, troubles du sommeil</li>
                <li>Système neurologique : Névralgie cervico-brachiales, intercostales, fasciales, d'Arnold, sciatique</li>
                <li>Système cardio-vasculaire : Troubles circulatoire des membres inférieurs, hémorroïdes, palpitations oppressions</li>
              </ul>
            </div>
      <p>Informations importantes :</p>
      <p>
        Je ne suis pas médecin et ne formule aucun diagnostic. Les soins énergétiques, les massages de bien-être et de confort sont
        complémentaires de la médecine conventionnelle et ne doivent pas s’y substituer. En aucun cas vous ne devez interrompre un
        traitement médical sans en avoir eu l’accord de votre médecin. <br>
        Les soins énergétiques et les massages de bien-être et de confort sont confidentiels et l’anonymat du consultant est garanti. <br>
        Je vous recommande de bien lire ma page <%= link_to 'déontologie', deontologie_path, target: "_blank" %> avant
        de prendre rendez-vous.
      </p>
</div>
  <div class="soincard">
    <%# <div class="imgtxt" id="imgcab"></div> %>

    <img id="imgcab" src="/assets/encabinet2.png" alt="">

    <div id="txtcab" class="imgtxt">
      <h2>En Cabinet</h2>
      <p>
        Je vous recevrez dans mon cabinet, un lieu sain tant énergétiquement que propre.
        Vous n'avez pas besoin de vous dévétir, puiqu'il n'y a pas de manipultion ou de palpation.
        Seules les chaussures seront à enlever, d'une part pour faire le travail énergétique et d'autre part pour votre confort.
        <p>Les bracelets et colliers seront aussi à retirer, ils coupent la circulation énergétique.</p>
      </p>
      <br>
    </div>
  </div>

  <div class="soincard">
    <%# <div class="imgtxt" id="imgdist"></div> %>
    <img id="imgdist" src="/assets/soin distance.png" alt="">

    <dir id="txtdist" class="imgtxt">
      <h2>À distance</h2>
      <p>
        Le soin se passe comme en cabinet, à la différence que vous êtes chez vous.
        Je vous invite toutefois à vous mettre en tenue confortable et de vous installer
        dans une pièce isolée de tout dérangement. Les chaussures seront à enlever, d'une part pour faire
        le travail énergétique et d'autre part pour votre confort.
      <p>Les bracelets et colliers seront aussi à retirer, ils coupent la circulation énergétique.</p>

      <br>

    </dir>
  </div>

  <div class="soincard">
    <%# <div class="imgtxt" id="imglieu"></div> %>
    <img id="imglieu" src="/assets/encabinet6.png" alt="">

    <div id="txtlieu" class="imgtxt">
      <h2>Nettoyage des lieux</h2>
      <p>
        Tout comme les soins de magnétisme ou d'énergétique, le nettoyage des lieux est aussi un soin de votre environnement.
        En effet, durant la nuit, d'une part, on libère des émotions et certaines énergies mortes pendant le sommeil.
        D'autre part, on libère aussi des émotions en journée, quand on est présent. Le lieu se charge est devient désagréable à vivre,
        au fil du temps.
      </p>
      <br>
      <p>Note :</p>
      <p>
        Le nettoyage des lieux ne remplace pas une étude Feng Shui ou de géobiologie, qui corrige sur le long terme les dysfonctionnements
        énergétiques. Toutefois, ce type de soin des lieux reste très efficace ponctuellement.
     </p>

    </div>
  </div>

 <h1>Massage Intuitif Énergétique</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imglieu"></div> %>
    <img id="imglieu" src="/assets/encabinet6.png" alt="">

    <div id="txtlieu" class="imgtxt">
      <h2>Massage bien-être</h2>
      <p>
        Massage bien-être et de confort en intuitif, il relance les énergies et dénoue certains noeux énergétiques. <br>
        Il apporte détente, relaxation et aide à réduire le stress ou l'anxiété ; il redonne force et vigueur. <br>
        Idéal pour lâcher prise et fait naître une nouvelle conscience corporelle<br>
        Il peut aider à une reprise du tonus musculaire et peut réduire les courbatures. <br>
        Favorisant un bien-être général, il améliore la qualité du sommeil et apaide le système nerveux, . <br>
        Des mouvements fluides et enveloppants s'alternent par pressions légères ou profondes, énergisantes, avec une huile de noyaux
        d'abricots de qualité.
      </p>

      <br>
      <p>Informations importantes :</p>
      <p>Vérifiez votre allergie à l'huile de noyaux d'abricots avant de choisir ce type de soin. Aucune huile essentielle n'y est ajoutée.</p>
    </div>
  </div>

<h1>Guidance Spirituelle</h1>
  <div class="soincard">
    <%# <div class="imgtxt" id="imggs"></div> %>
    <img id="imggs" src="/assets/meditation.gif" alt="">

    <dir id="txtgs" class="imgtxt">
      <h2>Guidance Spirituelle</h2>
      <p>
        La Guidance Spirituelle est là pour vous aidez à trouver des réponses là où vous n'avez pas réussi à en trouver.
        Elle peut se faire seule ou en couple.
        Grâce à mes ressentis, je vous apporterai un axe de réflexion pour que vous trouviez votre solution
        à la difficulté que vous traversez.
        C'est donc un accompagnement vers vous-même qui vous est proposé.
      </p>
      <br>
      <p>Informations importantes :</p>
      <p>Il ne s'agit pas de séance de psychothérapies. Seul le psychiatre, le psychothérapeute ou le psychologue peuvent le faire !</p>
    </dir>
  </div>

</div>
