<section class="soins"></section>

<div class="soinpresta">
  <div class="soincard">
    <div class="imgtxt" id="imgcab"></div>

    <div id="txtcab" class="imgtxt">
      <h4>En Cabinet</h4>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Quis porro dignissimos,
      quos cum sed culpa dolor quisquam, obcaecati minima fugit nisi iusto iste sapiente repellendus animi laudantium.
      Vitae, laborum in.</p>
    </div>
  </div>

  <div class="soincard">
    <div class="imgtxt" id="imgdist"></div>

    <dir id="txtdist" class="imgtxt">
      <h4>À distance</h4>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </dir>
  </div>

  <div class="soincard">
    <div class="imgtxt" id="imglieu"></div>

    <div id="txtlieu" class="imgtxt">
      <h4>Nettoyage des lieux</h4>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </div>
  </div>

  <div class="soincard">
    <div class="imgtxt" id="imggs"></div>

    <dir id="txtgs" class="imgtxt">
      <h4>Guidance Spirituelle</h4>
      <p>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Omnis voluptatum,
      aliquid veniam illo consequuntur excepturi minus sunt, rerum iste assumenda voluptates et
      dignissimos eos consequatur sit molestias perspiciatis non possimus.</p>
    </dir>
  </div>

</div>
