<section class="temoignage"></section>

<div class="tmg">
  <h1>Partagez-nous votre témoignage</h1>
  <div id="bouton">
    <h2>Partagez</h2>
  </div>
  <br>
  <hr>
</div>

<script>
  const btn = document.querySelector("#bouton")
  btn.addEventListener("click", (event) => {
  const newWin = window.open("votre-temoignage", "votre temoignage", "width=500,height=600");
})

</script>
