<section class="questions"></section>

<div>
  <h2>Combien de temps dure un soin ?</h2>
  <h2>Combien de séance faut-il ?</h2>
  <h2>Qui peut recevoir un soin ?</h2>
  <h2>Puis-je prendre rendez-vous pour une personne autre que moi ?</h2>
  <h2>Dois-je arrêter mon traitement ?</h2>
</div>
