<section class="questions"></section>

<div class="vosquestions">
  <h2>Combien de temps dure un soin ?</h2>
  <div class="cache">
    <p>Un soin dure généralement 1h mais peut-être plus long selon le travail à faire et les libérations que le patient
        est en train de lâcher, tant que cela reste juste.</p>
  </div>
  <br>

  <h2>Combien de séance faut-il ?</h2>
  <div class="cache">
   <p>La réponse n’est pas aussi directe. Les traumatismes récents et relativement légers peuvent se régler en une séance
      mais ceux qui sont plus anciens et plus lourds nécessitent plus d’une séance, posée en accord avec le patient dès la prise
      de rendez-vous.</p>
    <p>
      En effet, comme indiquée dans ma déontologie, le patient est aussi responsable de sa participation au soin et
      de sa capacité à vouloir lâcher ce qui le fait souffrir.
      Je ne peux pas et je ne prends pas le droit d’aller au-delà de ce qui sera possible de faire
    </p>
    </div>
   <br>

  <h2>Qui peut recevoir un soin ?</h2>
  <div class="cache">
    <p>Toute personne majeure ou mineure peut recevoir un soin, il n’y a pas de condition préalable.</p>
    </div>
  <br>

  <h2>Puis-je prendre rendez-vous pour une personne autre que moi ?</h2>
  <div class="cache">
    <p>Non.</p>
    <p>
      Seule la personne prend rendez-vous pour elle-même, sauf le parent pour son enfant encore mineur.
    </p>
    </div>
  <br>

  <h2>Comment puis-je savoir si mon habitat est lourd énergétiquement ?</h2>
  <div class="cache">
    <p>Généralement, on a des indicateurs qui nous renseignent :</p>
      <p>- quand on revient de balade en extérieur (notamment en forêt), on sent l’habitat lourd ou quelque
          chose d’autre de désagréable (fatigue soudaine, mal de crâne, etc...)</p>
      <p>- On peut aussi sentir que quelque chose ne va pas dans une pièce ou une autre</p>
      <p>- Si l’on éprouve le besoin de changer régulièrement les meubles de place, ou de brûler de l’encens,
     ou d’aérer souvent et longtemps …</p>
     </div>
  <br>

  <h2>Dois-je arrêter mon traitement ?</h2>
  <div class="cache">
  <p>Seul votre médecin est en capacité de vous dire d'arrêter votre traitement !</p>
  </div>
  <br>

</div>
