<section class="moi"></section>

<div class="titrew">
  <h1>Qui suis-je ?</h1>
</div>

<div class="whoiam">
  <div class="gauche">
      <div class="photomoi">
          <img src="/assets/lumiere-homme" alt="">
      </div>

      <div>
        <%#   <h2> <%= link_to 'Pour me contacter', contact_magnetiseur_path </h2> %>
      </div>
  </div>

  <div class="droite">
    <div class="textwho">
        <p>
          Je suis Christophe JULLIEN, thérapeute magnétieur et énergéticien installé à Marseille. <br>
          J'ai été formé par Gina et Régis vieux à la méthode Poyet et en osthéofluidique. <br>
          Plus qu'un métier, c'est un art de vivre, un état d'être, une part de soi.
        </p>
        <p>
         Je choisi de mettre mes capacités extra-sensorielles au service de l’Amour et de Lumière
         pour aider les êtres en souffrances et bloqués dans leur vie au quotidien.
        </p>

        <p>
         C’est un choix fait en conscience, avec le cœur ; je suis heureux et satisfais d'avoir des retours positifs des patients.
        </p>

        <p>
          Tout comme vous, j’avance sur mon chemin intérieur en quête de Ma vérité, celle qui me fais grandir intérieurement,
          qui m’apporte joie, paix, amour, sérénité et équilibre dans ma vie de tous les jours.
          Avec son infinie compassion et bonté, la vie me montre en douceur que je fais encore des erreurs, j’apprends chaque jour
          et aussi chaque nuit.
        </p>

        <p>
          Je me remets en cause aussi souvent que j’en prends conscience.
        </p>

        <p>
          Ce que je ne suis pas aussi :
        </p>

        <p>
          Je ne suis pas un être qui vous promettra une guérison miraculeuse ou magique, je ne suis pas infaillible
          dans mes perceptions et ressentis, je ne vous dirai pas ce que je ne sais pas.
          Ce n’est pas parce que je suis thérapeute, que j’ai fini de travailler sur moi-même.
        </p>

        <p>
            J’aime la nature et surtout les forêts,
            moment où je me rapproche aussi un peu plus vers moi-même et que j’apprécie grandement.
        </p>

        <p>
          Je pratique la méditation et certains exercices énergétiques ; j'enseigne les arts martiaux le samedi matin et vous pouvez consulter
          notre site : <a target="_blank" href="https://kungfu-marseille.fr/">www.kungfu-marseille.fr</a>
        </p>

        <p>
          Ma volonté en ce monde, est d’apporter justesse et équilibre, grâce à mes capacités, avec mes compréhensions
          et mes relations, et que chacunes et chacuns, retrouvent sa royauté intérieure.
        </p>

        <p>
          J’espère qu’en vous livrant une part de moi, vous vous sentirez plus proche et nous rappeler que nous
          sommes tous en liens et avant tout, Humain.
        </p>

    </div>
  </div>
</div>
