<div class="titrew">
  <h1>Qui suis-je ?</h1>
</div>

<div class="whoiam">

  <div class="photomoi">
    <img src="/assets/lumiere-homme" alt="">
  </div>

  <div class="textwho">
    <p>
      Je suis magnétiseur proposant des soins énergétiques au cabinet de Marseille et également à distance.
      Je peux me déplacer selon les demandes. Ma pratique du magnétisme est associée à une éthique rigoureuse
      me permettant d’agir en conscience sur différents niveaux énergétiques pour vous accompagner vers un bien-être durable.
    </p>
    <p>
      Dans le plus grand respect de votre demande d’aide et sans aucun jugement, le travail énergétique permettra
      le nettoyage et la libération des blocages qu’ils soient ressentis dans votre physique, vos émotions, vos pensées,
      dans un lieu de vie, dans vos relations avec les autres, dans une situation, ou dans bien d’autres cas encore.
    </p>
    <p>
      Tout comme je l’ai découvert, sachez que toutes les situations peuvent être améliorées puisque absolument
      tout est formé d’énergies et de fréquences vibratoires, et dans certains cas, de conscience.
    </p>
      Mon souhait est également que chacun redevienne conscient, à son rythme, de son propre pouvoir, de sa liberté et de sa vraie nature.
    <p>
      Mon expérience professionnelle et personnelle me permettent de constater que les soins énergétiques et de magnétisme font la différence.
    </p>
    <p>
      Je vous invite à la rencontre de vous-même et des énergies vibratoires.
    </p>
  </div>

</div>
