.soinpresta {
  display: flex;
  flex-direction: column;
/*   flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; */
}

.imgtxt {
  flex: 25% 0 25%;
}

.soincard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
}

#imgcab {
  background-image: url("encabinet2.png");
  background-size: cover;
    width: 300px;
      height: 300px;
}

#imgdist {
  background-image: url("soin distance.png");
  background-size: cover;
    width: 300px;
      height: 300px;
}

#imglieu {
  background-image: url("encabinet6.png");
  background-size: cover;
    width: 300px;
      height: 300px;
}

#imggs {
  background-image: url("meditation.gif");
  background-size: cover;
    width: 300px;
      height: 300px;
}
