.vosquestions {
  padding-left: 20px;
  padding-right: 20px;
  h2 {
    font-size: 30px;
  }
}

.cache {
  padding-bottom: 5px;
}

p {
  font-size: 20px;
  font-family: 'Merienda', cursive;
  padding-left: 20px;
  padding-right: 20px;
}
