#temoignage_commentaires {
  height: 100px;
  width: 203px;
}

#envoyer {
  padding-top: 0px;
  text-align: center;
}

#temoignage_prenom, #temoignage_nom, #temoignage_email, #temoignage_commentaires {
  border-radius: 10px;
  margin-bottom: 3px;
  color: #ae00fd;
  text-align: center;
}
#new_temoignage {
  text-align: center;
}
